<div class="container" >
  <div class="upload-container" >
    <!--<div style="padding-bottom: 10px">
      <button class="ev-btn" (click)="fileInput.click()">
        Choose File
      </button>
      <div style="min-width: 100px; display: inline-block; padding: 10px">
        {{uploadFilePost?.name}}.{{uploadFilePost?.ext}}
      </div>
      <input  #fileInput type="file" (change) = "fileChange($event)" style="display: none" />
    </div>-->
    <ev-upload-input (uploaded)="onFileUploaded($event)" >

    </ev-upload-input>
    <div style="padding-bottom: 10px">
      <button style="width: 100%" *ngIf="uploadFilePost?.content" class="ev-btn" [disabled]="isUploading" (click)="uploadFile()" > Upload File</button>
    </div>
    <div>
      <button style="width: 100%; background-color: #ef5350 !important; " class="ev-btn" (click)="goToFileList()">Go To File List</button>
    </div>

  </div>
</div>


