<div class="container" >
  <div class="upload-container" >
    <ev-upload-input (uploaded)="onFileUploaded($event)" > </ev-upload-input>
    <div style="padding-bottom: 10px">
      <button id="upload-button"  style="width: 100%" *ngIf="uploadFilePost?.content" class="ev-btn" [disabled]="isUploading" (click)="uploadFile()" > Upload File</button>
    </div>
    <div>
      <button style="width: 100%; background-color: #ef5350 !important; " class="ev-btn" (click)="goToFileList()">Go To File List</button>
    </div>

  </div>
</div>


